<nav class='navbar navbar-expand-lg' style='background-color: #e3f2fd;'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='#'>Recipe Book</a>

    <button aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler'
            data-bs-target='#navbarNav' data-bs-toggle='collapse' type='button'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse'>
      <div class='navbar-nav'>
        <a class='nav-link' href='#'>Recipes</a>
        <a class='nav-link' href='#'>Shopping List</a>
        <a class='nav-link' href='#'>Save Data</a>
        <a class='nav-link' href='#'>Fetch Data</a>
      </div>
      <div class='navbar-nav navbar'></div>
    </div>
  </div>
</nav>