<h3>Section 3: Data Binding</h3>
<div class='mb-3'>
  <label class='form-label fw-bold'>Username</label>
  <input
    [(ngModel)]='userName'
    aria-label='Username'
    class='form-control'
    placeholder='Enter your Username'
    type='text'
  />
</div>
<button
  (click)='onResetUserName()'
  [disabled]='!userName'
  class='btn btn-primary'
  type='button'
>
  Reset Username
</button>
<p class='mt-4 fw-bold'>Value: {{ userName }}</p>

<h3>Section 3: Directives</h3>

<button
  (click)='onDisplayDetails()'
  class='btn btn-primary'
  type='button'>
  Display Details
</button>

<p *ngIf='displayDetails'>
  Secret Password: tuna
</p>

<h5 class='mt-4'>Timestamp when the button was clicked</h5>
<div *ngFor='let logClick of logButtonClicks; index as i'
     [ngClass]='{clicked: i >= 4}'
     [ngStyle]='{backgroundColor: i >= 4 ? "#125699" : "transparent"}'>
  {{ logClick }}
</div>